<div class="modal-header" style="background: #f8f8f8">
    <h3 class="modal-title" id="modal-title">
        <div class="row">
            <span class="col">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </span>
            <span class="col">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </span>
        </div>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-10 col-md-8 ">
            <label for="username">Mobile Number</label>
            <input class="form-control" id="username" type="text">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click='closeModal()'>ok</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
